*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e1e1db;
}

.card-header, .card-footer{
    background-color: #0b0338;
    color: whitesmoke;
}

.bodyColorContainer {
    width: 100%;
    height: 300px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
